body:not(.carousel-item) {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}
.ada_lovelace {
  color: rgb(43, 43, 43);
}

body {
  margin-bottom: 400px;
  background-image: linear-gradient(to bottom right, rgb(215, 238, 238), white);
}
/* shared css */
.other-projects-div,
.contacts-div {
  padding: 80px 18px 60px 18px;
  background-image: linear-gradient(to bottom right, #003256, #f00cca);
}
/* end shared css */
nav {
  box-shadow: 2px 4px 4px rgba(119, 116, 116, 0.8);
}
.signature {
  position: fixed;
  top: 6px;
}
#signature-logo {
  position: fixed;
  top: -44px;
  left: -64px;
}
main {
  margin-top: 66px !important;
}
#carousel-container {
  margin-bottom: 3rem;
}
/* carousel */
.carousel {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(119, 116, 116, 0.8);
}
.carousel-item img {
  height: 30rem;
  object-fit: cover;
}
.carousel-title {
  background-color: rgba(32, 32, 32, 0.6);
  border-radius: 6px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid #003256;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: rgb(0, 102, 255);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: rgb(0, 102, 255);
}
img,
.other-projects-content {
  cursor: pointer;
  transition: transform 0.25s ease-out;
}

img:hover,
.other-projects-content:hover,
#contact-form:hover,
#contact-form:active {
  transform: scale(1.05);
}

#profile-image {
  border: 8px solid white;
  box-shadow: 2px 4px 4px rgba(119, 116, 116, 0.8);
}

.projects-div {
  padding: 80px 18px 60px 18px;
  min-height: 18rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #003256;
}

img {
  object-fit: cover;
}

.img-portfolio {
  height: 20rem;
  width: 90%;
  max-width: 55rem;
  min-height: 18rem;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}

/* other projects  */
.other-projects-content {
  max-width: 29rem;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}
.other-projects-img {
  width: 100%;
  height: 18rem;
}
/* core tools */
#core-tools ul,
#other-tools ul {
  list-style: none;
  padding: 0;
}
.tools-div {
  padding: 80px 18px 60px 18px;
  min-height: 18rem;
}

/* contacts  */
#contacts {
  padding: 80px 12px !important;
}
#contact-form {
  border-radius: 16px;
  background-color: white;
  color: gray;
  box-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
  transition: transform 0.25s ease-out;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  box-shadow: 0px 1px 2px rgba(32, 32, 32, 0.6);
}
label {
  font-size: 1.25rem;
  padding-bottom: 0.25rem !important;
}
.form-group {
  padding-bottom: 1.5rem !important;
}
.btn-contact {
  padding: 4px 24px !important;
  margin: -0.25rem 0 1rem 0 !important;
}
/* modal */
.modal-dialog {
  margin: 15vh auto !important;
}

#modal-title {
  margin: 1rem auto !important;
}
.modal-body {
  margin: 1rem auto !important;
  text-align: center !important;
}
.modal button {
  padding: 4px 24px !important;
  margin: 1rem 1rem !important;
}
@media (max-width: 768px) {
  .other-projects-row {
    gap: 2rem;
  }
}
